
article {
	background-color:black;
}

.canvasHolder{
	width:850px;
	height:550px;
	margin:auto;
	margin-top:30px;
}

#gameCanvas{
	background-color: black;
	border:1px solid grey;
	margin:auto;
}

@font-face { font-family: 'VT323'; 
			src: url('VT323.ttf');
			}